body{
  margin: auto 200px;
}
h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 20px; 
}
.cal{
  margin: auto 400px;
}
.d-flex{
  margin: 10px;
}
table{
  width: 100%;
  padding: 5px;

}
table tr {
  border-style: none;
}
button{
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(208, 226, 221, 0.6);
  font-size: 1.5rem;
  font-weight: 600;
}
.equal{
  height: 100%;
}